<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
</head>
<body style="text-align:center;">
    <h2>User Login</h2>

    <form id="loginForm">
    <input type="text" id="mobile" placeholder="Mobile Number" required><br><br>
    <input type="password" id="password" placeholder="Password" required><br><br>
    <button type="submit">Login</button>
</form>

<script>
document.getElementById("loginForm").addEventListener("submit", function(e){
    e.preventDefault();

    const mobile = document.getElementById("mobile").value;
    const password = document.getElementById("password").value;

    fetch("http://127.0.0.1:5000/user_login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            mobile: mobile,
            password: password
        })
    })
    .then(res => res.json())
    .then(data => {
        if(data.status === "success"){
            alert("Login Successful");
            window.location.href = "user_dashboard.html";
        } else {
            alert("Invalid Login");
        }
    })
    .catch(err => {
        alert("Server Error");
    });
});
</script>


</body>
</html>
